<%
=begin%>
 <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>


  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%
=end%>
<div class="col-lg-8 mx-auto">
  <div class="card mt-2">
    <div class="card-title custom-bg-blue">
      <h1 class="text-center">Sign up</h1>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :email %>
                <%= form.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
              </div>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
              <div class="form-group">
                <div>
                    <%= form.submit 'Sign up' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>
