<%= form_with(model: [@user, @entity]) do |form| %>
  <% if @entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@entity.errors.count, "error") %>  to fix: </h2>

      <ul>
        <% @entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="card mb-3 shadow">
      <div class="card-body">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="form-group">
            <%= form.label :amount %>
            <%= form.number_field :amount, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="form-group">
            <p><strong>Category:</strong> <%= @user.categories.find(params[:id]).name  %></p>
          <%= form.hidden_field :category_id, value: params[:id] %>
        </div>
      </div>
    </div>
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="form-group">
          <div>
            <%= form.hidden_field :author_id, value: @user.id %>
              <%= form.submit %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>