<div class="col-lg-8 mx-auto">
  <div class="card mt-2">
    <div class="card-title custom-bg-blue">
      <h1 class="text-center">Log in</h1>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="form-group">
                <%= form.label :password %>
                <%= form.password_field :password, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
                <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <%= form.check_box :remember_me %>
                    <%= form.label :remember_me %>
                  </div>
                <% end %>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
              <div class="form-group">
                <div>
                    <%= form.submit 'Log in' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>
